
.carousels {
  height: 10rem;
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mythings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}