.container {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground);
}

.navigation {
  display: flex;
  flex-direction: row;
}

.logo {
  font-family: var(--font-nanum-eb);
}

.explain {
  display: flex;
  flex-direction: column;

}