.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foreground);
}

.left {
  display: flex;
}

.center {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}